body{@extend .pm0;}
.p0{padding: 0px;}
.pl0{padding-left: 0px !important}
.pLink{ padding: 8px 16px;}
.pwrap-5{padding:5px}
.pwrap_5{padding:0px 5px}
.pwrap__5{padding:5px 0px}

.pwrap-10{padding:10px}
.pwrap_10{padding: 0px 10px}
.pwrap__10{padding:10px 0px }

.p10_20{padding: 10px 20px;}
.p20_10{padding: 20px 10px;}
.p10_30{padding: 10px 30px;}

.pwrap-20{padding:20px}
.pwrap_20{padding:20px 0px}
.pwrap__20{padding:0px 20px}

.pwrap-2p{padding:2%}
.pwrap_2p{padding:0px 2%}
.pwrap__2p{padding:2% 0px}

.pwrap-3p{padding:3%}
.pwrap_3p{padding:0% 3%} //kiri kanan _
.pwrap__3p{padding:3% 0%} //atas bawah __

.pwrap-5p{padding:5%}
.pwrap_5p{padding:0% 5%}
.pwrap__5p{padding:5% 0%}


.pm0{
    padding: 0px !important;
    margin: 0px !important;
}
.mauto{margin: auto;}
.mauto_{margin-left: auto !important; margin-right: auto !important; }
.mauto__{margin-top: auto !important; margin-bottom: auto !important;}

.m0{margin: 0px !important}
.m0auto{margin: 0px auto !important}
.m10pAuto{margin: 10% auto !important}


.mwrap-5{margin: 5px;}
.mwrap-10{margin: 10px;}

.mwrap-2p{margin:2%} //kiri kanan _
.mwrap_2p{margin:0% 2%} //kiri kanan _
.mwrap__2p{margin:2% 0%} //atas bawah __

.mwrap_3p{margin:0% 3%} //kiri kanan _
.mwrap__3p{margin:3% 0%} //atas bawah __

.radius-10{border-radius: 10px;}
.radius_10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.radius__10{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.radiusL10{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.radiusR10{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.boval{border-radius: 50%}
.mtop100{    margin-top: 100px !important;}